body {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

a {
  text-decoration: none;
}

.nabTabs {
  font-size: large;
}

.color1 {
  color: #551a8b !important;
}

.textarea {
  outline: auto #d1c4e9;
}

.textarea:hover {
  outline: auto black;
}
